<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "http://jakarta.apache.org/log4j/" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="infosys_rollingfile_appender" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
<!-- 		<param name="File" value="${catalina.base}/logs/infosys/core/debugs.log" /> -->
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %n" />
		</layout>
	</appender>


	<appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %n" />
		</layout>
	</appender>


	<root>
		<priority value="INFO" />
		<appender-ref ref="console-appender" />
	</root>
</log4j:configuration>  